p {
  font-family: Arial;
  color: black;
}

h1 {
  color: turquoise;
}

.destination {
  font-family: cursive;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}
.publish-time {
  color: gray;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}

.description  {
  color: teal;
}


h5,p {
  font-family: Georgia;
}
* {
	text-align: center;
}

#info {
	font-style: italic;
	color: gray;
}